QListWidget::item:hover{
    background: #000000;
    color: white;
}

QListWidget::item:selected{
    background: #000000;
    color: white;
}

QMenu{
    border: 1px solid;
    background: white;
    color: black;
    font-weight: bold;
}

QMenu::item:selected{
    background: lightgray;
}